{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'global_2.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" rel="stylesheet">
    <link href="https://code.jquery.com/jquery-3.3.1.slim.min.js" rel="stylesheet">


    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
        <nav class="navigation-bar">

            <div id="container">
              <div id=flip>
                <div><div>Yerekshe</div></div>
                <div><div>Yerekshe</div></div>
                <div><div>Yerekshe</div></div>
              </div>
            </div>


           <div class="page">
              <div class="page__demo">
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__group"><a href="{% url 'home' %}" class="menu__link">Home</a></li>
                    <li class="menu__group"><a href="{% url 'register' %}" class="menu__link">Sign up</a></li>
                    <li class="menu__group"><a href="{% url 'login' %}" class="menu__link">Log in</a></li>
                    <li class="menu__group"><a href="/admin/" class="menu__link">Administration</a></li>

                  </ul>
                </nav>
              </div>
           </div>
         </nav>
{% block body %}
{% endblock %}

</body>
</html>